button{
  border-radius: 6px;
  box-shadow: 2px 2px 2px red;
  width:10vw;
  height: 5vh;
}
#navBar{
  background-color: cadetblue;
  height: 10vh;
  position: relative;
  top:0vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* #navBar > button{
  position: relative;
  top: 25%;
} */